@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, html{
    margin: 0;
    padding: 0;
}
body{
    background-color:#04090f;
}
.container{
    background-color:#080808;
    color:white;
    max-width: 500px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 14%;
    position: inherit;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 18px 4px black;
}
h1{
    text-align: center;
    font-family: 'Righteous', Arial, Helvetica, sans-serif;
    
}
p{
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;

}
.box{
    display: inline-block;
}
.box .put{
    display: inline-flex;
}
span{
    font-size: 22px;
    margin-bottom: 10px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
input{
    border: none;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 10px;
}
.buttons{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    margin-bottom: 20px;
    
    
}
button{
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    position: relative;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    
}
button#calc{
    background-color: #E6CB2E;
}
div#res{
    text-align: center;

    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 18px;

}
@media screen and (max-width: 900px){
    .container{
        margin-top: 50%;
    }
    
}
@media screen and (max-width: 800px){
    .container{
        margin-top: 40%;
    }
    
}
@media screen and (max-width: 700px){
    .container{
        margin-top: 40%;
    }
    
}
@media screen and (max-width: 500px){
    .container{
        margin-top: 60%;
        width: 350px;
    }
    
}
@media screen and (max-width: 400px){
    .container{
        margin-top: 60%;
        width: 320px;
    }
    
}
@media screen and (max-width: 300px){
    .container{
        margin-top: 70%;
        width: 320px;
    }
    
}


